{% extends "base.html" %}
{% block navlabel %}
           <li><a href="/index">Home</a></li>
           <li><a href="/about">About</a></li>
           <li class="active"><a href="/contact">Contact</a></li>
{% endblock %}

{% block body %}
    <div class="starter-template">
        <h2>Contact Information</h2>
	<p>This website was produced by Rachel Reddick, as a part of the <a href="http://insightdatascience.com">Insight Data Science program.</a></p>
	<p>I have a personal website, <a href="clementsgame.wordpress.com">Clement's Game</a>, where I discuss, analyze and write science fiction and fantasy.</p>
    </div>
{% endblock %}
