{% extends "base.html" %}

{% block navlabel %}
           <li class="active"><a href="#">Home</a></li>
           <li><a href="/about">About</a></li>
           <li><a href="/contact">Contact</a></li>
{% endblock %}

{% block body %}
    <div class="starter-template">
	<h2>Looking for an Indie Game?</h2>
        <p>Enter a game you already like.</p>
    </div>

    <div class = "container">

      <form  action="/output" method="GET">
        <p> Game title: </p>
	<select name="game_select" id="select2" class="js-example-placeholder-single">
	  {% for meta_title in meta_titles %}
          <option name="{{ meta_title }}" value="{{ meta_title }}">{{ meta_title }}</option>
	  {% endfor %}
	  <option name="Portal" value="Portal" selected="selected">Portal</option>
	</select>
    </div>

<!--        <div class="form-group">
          <label for="ID">Search Game Title:</label>
          <input type="text" id="ID" name='ID' placeholder="e.g. BioShock">
        </div> -->

        <br> If you like, specify a platform: <br>

       	<div class="row">
	  <div class="col-lg-6">
	    <label for="platform_check" class="btn">
              <input type="checkbox" name="platform_w" aria-label="Windows" value="Windows"> Windows
              <input type="checkbox" name="platform_m" aria-label="Mac" value="Mac"> Mac
              <input type="checkbox" name="platform_l" aria-label="Linux" value="Linux"> Linux
	    </label>
	  </div><!-- /.col-lg-6 -->
	</div><!-- /.row -->

	<br>

        <div>
          <button type="submit" class="btn btn-default btn-lg">Suggest games</button>
        </div>

      </form>
    </div>

    <script type="text/javascript">
      $('#select2').select2({
      placeholder: "e.g., BioShock",
      allowClear: true
      });
    </script>
{% endblock %}

{% block morecontent %}
{% endblock %}
