{% extends "base.html" %}

{% block navlabel %}
           <li class="active"><a href="/">Home</a></li>
           <li><a href="/about">About</a></li>
           <li><a href="/contact">Contact</a></li>
{% endblock %}

{% block body %}

      <div class="starter-template">
        <h3>Results:</h3>
        <p class="lead">Here are some Indie games that may be similar to {{ big_game }}.</p>
	{% if platforms %}
	<p> You requested games that work on: {% for platform in platforms %} {{ platform }} {% endfor %}</p>
	{% else %}
	<p> You did not specify a platform.  Games on any platform may be shown.</p>
	{% endif %}
      </div>

      <table class="table table-hover">
	<tr><th>Title</th><th>Game Type</th><th>Setting</th><th>Rating</th><th>Score</th></tr>
      {% for game in games %}
      <tr><td> <a href="{{ game['url'] }}">{{ game['title'] }} </a></td><td>{{ game['game_type']}}</td><td> {{ game['theme'] }}</td><td>{{ game['rating'] }}</td><td>{{ game['sim_rating'] }}</td></tr>
      {% endfor %}
      </table>

    </div><!-- /.container -->

{% endblock %}

{% block morecontent %}

  <div class="container">
    <div class="starter-template">
        <h2>Look For Another Game</h2>
    </div>

    <div class = "container">

      <form  action="/output" method="GET">
	<p> Game title: </p>
        <select name="game_select" id="select2" class="js-example-basic-single">
          {% for meta_title in meta_titles %}
          <option name="{{ meta_title}}" value="{{ meta_title }}">{{ meta_title }}</option>
          {% endfor %}
        </select>
    </div>
	  <br> If you like, specify a platform: <br>

	  <div class="row">
	    <div class="col-lg-6">
              <label for="platform_check" class="btn">
		<input type="checkbox" name="platform_w" aria-label="Windows" value="Windows"> Windows
		<input type="checkbox" name="platform_m" aria-label="Mac" value="Mac"> Mac
		<input type="checkbox" name="platform_l" aria-label="Linux" value="Linux"> Linux
              </label>
	    </div><!-- /.col-lg-6 -->
	  </div><!-- /.row -->
	  
	  <button type="submit" class="btn btn-default btn-lg">Suggest more games</button>
        </div>
      </form>
    </div>

    <script type="text/javascript">
      $('#select2').select2({placeholder: "e.g., BioShock"});
    </script>

{% endblock %}

