{% extends "base.html" %}

{% block navlabel %}
           <li class="active"><a href="/">Home</a></li>
           <li><a href="/about">About</a></li>
           <li><a href="#contact">Contact</a></li>
{% endblock %}

{% block body %}

      <div class="starter-template">
        <h3>Results:</h3>
        <p class="lead">Here are some Indie games that may be similar to {{ big_game }}.</p>
      </div>

      <table class="table table-hover">
	<tr><th>Title</th><th>Game Type</th><th>Setting</th><th>Rating</th><th>Score</th></tr>
      {% for game in games %}
      <tr><td>{{ game['title'] }}</td><td>{{ game['game_type']}}</td><td> {{ game['theme'] }}</td><td>{{ game['rating'] }}</td><td>{{ game['sim_rating'] }}</td></tr>
      {% endfor %}
      </table>

    </div><!-- /.container -->

{% endblock %}

{% block morecontent %}

  <div class="container">
    <div class="starter-template">
        <h2>Look For Another Game</h2>
    </div>

    <div class = "container">

      <form  action="/output" method="GET">
        <div class="form-group">
          <label for="ID">Game Title:</label>
          <input type="text" id="ID" name='ID' placeholder="e.g. ">
        </div>
        <div>
          <button type="submit" class="btn btn-default btn-lg">Suggest more games</button>
        </div>
      </form>
    </div>
    <br> If you like, specify a platform: <br>

<div class="row">
  <div class="col-lg-6">
        <input type="checkbox" aria-label="Windows"> Windows
        <input type="checkbox" aria-label="Mac"> Mac
        <input type="checkbox" aria-label="Linux"> Linux
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

{% endblock %}

