{% extends "base.html" %}
{% block navlabel %}
           <li><a href="/index">Home</a></li>
           <li><a href="/about">About</a></li>
           <li><a href="/contact">Contact</a></li>
{% endblock %}

{% block body %}
<iframe src="//www.slideshare.net/slideshow/embed_code/44320513" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/rmredd/rachel-reddick-week4demo-44320513" title="IndieRecommender Demo" target="_blank">IndieRecommender Demo</a> </strong> from <strong><a href="//www.slideshare.net/rmredd" target="_blank">rmredd</a></strong> </div>
{% endblock %}
